.changeSlotChild {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #36bbbd;
    width: 1920px;
    height: 540px;
}
.changeSlotItem {
    position: absolute;
    top: calc(50% - 281px);
    left: 155px;
    border-radius: 32px;
    background-color: #f7f7fa;
    width: 1560px;
    height: 736px;
}
.requestForNew1 {
    position: absolute;
    top: 0px;
    left: calc(50% - 693.5px);
    letter-spacing: -0.03em;
    display: inline-block;
    width: 1387px;
}
.requestForNewSlotWrapper {
    position: absolute;
    top: 83px;
    left: calc(50% - 693px);
    box-shadow: 8px 8px 4px rgba(91, 91, 93, 0.25);
    width: 1387px;
    height: 116px;
    text-align: center;
    font-size: 96px;
}
.groupChild {
    position: absolute;
    top: 50px;
    left: 0px;
    border-radius: 8px;
    background-color: #cecece;
    width: 721px;
    height: 75px;
}
.groupItem {
    position: absolute;
    top: 248px;
    left: 0px;
    border-radius: 8px;
    background-color: #cecece;
    width: 721px;
    height: 238px;
}
.reasonForChange1 {
    position: absolute;
    top: 0px;
    left: 0px;
}
.description {
    position: absolute;
    top: 199px;
    left: 0px;
}
.rectangleParent {
    position: absolute;
    top: 325px;
    left: 255px;
    width: 721px;
    height: 486px;
    color: #000909;
}
.unionChild {
    position: absolute;
    top: 401px;
    left: 907.58px;
    background-color: #d9d9d9;
    width: 27.01px;
    height: 6.48px;
    transform:  rotate(44.99deg);
    transform-origin: 0 0;
}
.unionItem {
    position: absolute;
    top: 405.58px;
    left: 941.81px;
    background-color: #d9d9d9;
    width: 27.34px;
    height: 6.48px;
    transform:  rotate(135.01deg);
    transform-origin: 0 0;
}
.union {
    position: relative;
    background-color: #fff;
    width: 23.92px;
    height: 38.81px;
    transform:  rotate(90deg);
    transform-origin: 0 0;
}
.changeSlotInner {
    position: absolute;
    top: 375px;
    left: 1102px;
    border-radius: 8px;
    background-color: #cecece;
    width: 513px;
    height: 436px;
}
.newSlot {
    position: absolute;
    top: 325px;
    left: 1093px;
    color: #000909;
}
.groupInner {
    position: absolute;
    top: 0px;
    left: 5.31px;
    border-radius: 12px;
    background-color: #36bbbd;
    width: 270.69px;
    height: 79.62px;
}
.rectangleDiv {
    position: absolute;
    top: 5.31px;
    left: 0px;
    border-radius: 12px;
    background-color: rgba(54, 187, 189, 0.2);
    width: 270.69px;
    height: 79.62px;
}
.submit {
    position: absolute;
    top: 27px;
    left: 40px;
    letter-spacing: 0.28em;
    display: inline-block;
    width: 201.69px;
    height: 35.83px;
}
.rectangleGroup {
    position: absolute;
    top: 876px;
    left: 822px;
    width: 276px;
    height: 84.92px;
    text-align: center;
}
.changeSlotChild1 {
    position: absolute;
    top: 425px;
    left: 1135px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 70px;
}
.changeSlotChild2 {
    position: absolute;
    top: 425px;
    left: 1382px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 70px;
}
.saturday {
    position: absolute;
    top: 446px;
    left: 1182px;
    color: #b6b6b6;
}
.sunday {
    position: absolute;
    top: 446px;
    left: 1437px;
    color: #212121;
}
.groupChild1 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 70px;
}
.groupChild2 {
    position: absolute;
    top: 0px;
    left: 247px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 70px;
}
.groupChild3 {
    position: absolute;
    top: 106px;
    left: 0px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 70px;
}
.groupChild4 {
    position: absolute;
    top: 106px;
    left: 246px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 70px;
}
.b {
    position: absolute;
    top: 21px;
    left: 32px;
}
.b1 {
    position: absolute;
    top: 21px;
    left: 279px;
    color: #212121;
}
.b2 {
    position: absolute;
    top: 127px;
    left: 32px;
}
.b3 {
    position: absolute;
    top: 127px;
    left: 278px;
}
.rectangleContainer {
    position: absolute;
    top: 593px;
    left: 1135px;
    width: 447px;
    height: 176px;
    color: #b6b6b6;
}
.changeSlotChild3 {
    position: absolute;
    height: 2.37%;
    width: 1.46%;
    top: 2.55%;
    right: 2.53%;
    bottom: 95.08%;
    left: 96.02%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.changeSlot {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: #fff;
    font-family: Inter;
}

