.pastApplicationChild {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #36bbbd;
    width: 1920px;
    height: 540px;
}
.pastApplicationItem {
    position: absolute;
    top: calc(50% - 281px);
    left: 155px;
    border-radius: 32px;
    background-color: #f7f7fa;
    width: 1560px;
    height: 736px;
}
.pastApplications {
    position: absolute;
    top: 0px;
    left: calc(50% - 389px);
    letter-spacing: -0.03em;
}
.pastApplicationsWrapper {
    position: absolute;
    top: 79px;
    left: calc(50% - 389px);
    box-shadow: 8px 8px 4px rgba(91, 91, 93, 0.25);
    width: 778px;
    height: 116px;
    text-align: center;
    font-size: 96px;
    color: #fff;
}
.date {
    position: absolute;
    top: 307px;
    left: 205px;
    font-size: 32px;
    text-transform: uppercase;
    color: #000;
}
.review {
    position: absolute;
    top: 307px;
    left: 566px;
    font-size: 32px;
    text-transform: uppercase;
    color: #000;
}
.groupChild {
    position: absolute;
    top: 0px;
    left: 361px;
    border-radius: 8px;
    background-color: #cecece;
    width: 1099px;
    height: 75px;
}
.groupItem {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 8px;
    background-color: #cecece;
    width: 311px;
    height: 75px;
}
.april262023 {
    position: absolute;
    top: 23px;
    left: 34px;
}
.rectangleParent {
    position: absolute;
    top: 381px;
    left: 205px;
    width: 1460px;
    height: 75px;
}
.rectangleGroup {
    position: absolute;
    top: 512px;
    left: 205px;
    width: 1460px;
    height: 75px;
}
.rectangleContainer {
    position: absolute;
    top: 643px;
    left: 205px;
    width: 1460px;
    height: 75px;
}
.groupDiv {
    position: absolute;
    top: 774px;
    left: 205px;
    width: 1460px;
    height: 75px;
}
.pastApplicationInner {
    position: absolute;
    height: 2.37%;
    width: 1.46%;
    top: 2.18%;
    right: 2.58%;
    bottom: 95.45%;
    left: 95.96%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.pastApplication {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: #212121;
    font-family: Inter;
}

