.tobiasVanSchneiderLhgeqh3xhIcon {
    position: absolute;
    top: calc(50% - 540px);
    left: calc(50% - 960px);
    width: 1920px;
    height: 400px;
    object-fit: cover;
}
.profile2Child {
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(#00978e, #00978e), #36bbbd;
    width: 1920px;
    height: 400px;
    mix-blend-mode: soft-light;
}
.profile2Item {
    position: absolute;
    top: 400px;
    left: 0px;
    background-color: #f7f7fa;
    width: 1920px;
    height: 680px;
}
.profile2Inner {
    position: absolute;
    top: 130px;
    left: 100px;
    border-radius: 50%;
    background-color: #d9d9d9;
    width: 440px;
    height: 440px;
}
.rectangleDiv {
    position: absolute;
    top: 363px;
    left: 1570px;
    border-radius: 37.5px;
    background-color: #9a9a9a;
    width: 250px;
    height: 75px;
}
.profile2Child1 {
    position: absolute;
    top: 363px;
    left: 1295px;
    border-radius: 37.5px;
    background-color: #36bbbd;
    width: 250px;
    height: 75px;
}
.drVivaanTaneja1 {
    position: absolute;
    top: 181px;
    left: 590px;
    font-size: 64px;
}
.coe123456789 {
    position: absolute;
    top: 258px;
    left: 590px;
}
.apply {
    position: absolute;
    top: 386px;
    left: 1381px;
}
.history {
    position: absolute;
    top: 386px;
    left: 1641px;
}
.groupChild {
    position: absolute;
    top: 51px;
    left: 0px;
    border-radius: 5px;
    background-color: #36bbbd;
    width: 109.29px;
    height: 5px;
}
.aboutMe {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 147.86px;
}
.blankLine {
    margin: 0;
}
.loremIpsumDolorContainer {
    position: absolute;
    top: 79px;
    left: 0px;
    color: #5b5b5b;
    display: inline-block;
    width: 630px;
}
.rectangleParent {
    position: absolute;
    top: 620px;
    left: 75px;
    width: 630px;
    height: 340px;
    color: #000909;
}
.profile2Child2 {
    position: absolute;
    top: 325px;
    left: 590px;
    border-radius: 22px;
    background-color: #8960ff;
    width: 115px;
    height: 44px;
}
.react {
    position: absolute;
    top: 333px;
    left: 615px;
    color: #fff;
}
.profile2Child3 {
    position: absolute;
    top: 325px;
    left: 718px;
    border-radius: 22px;
    background-color: #0057ff;
    width: 140px;
    height: 44px;
}
.nodejs {
    position: absolute;
    top: 333px;
    left: 743px;
    color: #fff;
}
.profile2Child4 {
    position: absolute;
    top: 325px;
    left: 871px;
    border-radius: 22px;
    background-color: #770000;
    width: 163px;
    height: 44px;
}
.adobeXd {
    position: absolute;
    top: 333px;
    left: 896px;
    color: #fff;
}
.profile2Child5 {
    position: absolute;
    top: 325px;
    left: 1047px;
    border-radius: 22px;
    background-color: #004d5e;
    width: 83px;
    height: 44px;
}
.c {
    position: absolute;
    top: 333px;
    left: 1072px;
    color: #fff;
}
.image7Icon {
    position: absolute;
    top: 130px;
    left: 100px;
    border-radius: 220px;
    width: 440px;
    height: 438.01px;
    object-fit: cover;
}
.profile2Child6 {
    position: absolute;
    top: 749px;
    left: 1010px;
    border-radius: 8px;
    background-color: #b8b6b6;
    width: 810px;
    height: 75px;
}
.profile2Child7 {
    position: absolute;
    top: 507px;
    left: 1010px;
    border-radius: 8px;
    background-color: #eaeaea;
    width: 355px;
    height: 150px;
}
.profile2Child8 {
    position: absolute;
    top: 507px;
    left: 1465px;
    border-radius: 8px;
    background-color: #eaeaea;
    width: 355px;
    height: 150px;
}
.profile2Child9 {
    position: absolute;
    top: 837px;
    left: 1010px;
    border-radius: 8px;
    background-color: #b8b6b6;
    width: 810px;
    height: 75px;
}
.profile2Child10 {
    position: absolute;
    top: 925px;
    left: 1010px;
    border-radius: 8px;
    background-color: #b8b6b6;
    width: 810px;
    height: 75px;
}
.recentUpdates {
    position: absolute;
    top: 699px;
    left: 1010px;
    color: #000909;
}
.stFebruary20231 {
    position: absolute;
    top: 521px;
    left: 1024px;
    font-size: 20px;
    color: #000;
}
.applicationToBe1 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 500;
}
.applicationToBeReviewedWrapper {
    position: absolute;
    top: 558px;
    left: 1024px;
    width: 204px;
    height: 19px;
    font-size: 16px;
    color: #dd6a00;
}
.profile2Child11 {
    position: absolute;
    height: 2.37%;
    width: 1.46%;
    top: 2.18%;
    right: 2.53%;
    bottom: 95.45%;
    left: 96.02%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.profile21 {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: #f7f7fa;
    font-family: Inter;
}

